/* HEADER */

.navBar {
    background-color: #edf0f2;
    padding: 20px;
}

/* INPUT FORM */

.input-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
}

.input-container input {
    margin: 10px;
}

.input-container label {
    margin-left: 10px;
}
.input-container hr {
    width: 90%;
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textarea-input {
    margin: 10px;
    resize: none;
}

.submit-btn {
    margin: 10px;
}

/* All resources container */

.search-bar {
    margin: 10px;
    width: 50%;
    max-width: 400px;
}
.search-btn {
    margin-left: 3px;
}
.all-resources-container {
    padding: 20px;
    width: 70%;
}
.dropdown {
    margin-left: 10px
}

/* Resource Card */

.resource-card-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}
.voting-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}
.voting-container li {
    margin: 4px;
}
.card-content{
    width: 85%;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
}

.card-title h2{
    margin: 0;
}

.author-txt {
    color: grey;
    font-style: italic;
}

.categories-txt {
    color: grey;
}